body {
			 	
  background: url("1.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	color: #fff;
	padding: 0;
	margin: 0;
font-size: 48px;
text-shadow: 4px 4px 4px #aaa;

}



h1, h2, h3, h4, h5, h6 {
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
font-size: 55px;
text-shadow: 4px 4px 4px #aaa;
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.header {

}

.container {
	width: 1140px;
	height: 700px;
	margin: 0 auto;
	
}

.nav {
	display: flex;
	align-items: center;
	margin-top: 42px;
}

.menu {
	display: flex;
	margin-left: 760px;
}

.menu li {
	font-size: 20px;
	margin-right: 25px;
}

.menu li a {
	color: #e6e6e6;
	padding: 12px 0;
	
}

.menu li a.active,
.menu li a:hover {
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.logo {
 weight: 1100px;
}

.p1 {
	font-size: 20px;
	margin-left: auto;
	weight: 200px;
}

.offer {
	display: flex;
	align-items: center;
	margin-top: 180px;
	margin-left: 450px;
}

.offer-content h1 {
	font-size: 37px;
	font-weight: 900;
}

.offer-content p {
	color: white;
	font-size: 16px;
	font-weight: 200;
	margin-top: 14px;
}

.offer-content a {
	background: #e6e6e6;
	color: #0099cc;
	font-weight: 900;
	font-size: 14px;
	width: 218px;
	display: block;
	text-align: center;
	padding: 17px 0;
	transition: all 0.5s ease;
	margin-top: 35px;
	
}

.offer-content a:hover {
	background: white;
}

@font-face {
font-family: "Indie Flower";
src: url("indieflower-regular-webfont.woff") format("woff");
}